body {
  padding-left: 11em;
  font-family: arial,sans-serif;}
ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em }
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }
